@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200;300;400;500;600;700&display=swap");

$header-color: #222634;
$footer-color: #222634;
$editor-color: #263238;
$header-height: 3.5rem;
$footer-height: 1.5rem;
$editor-height: calc(100vh - 5rem);

.App {
	height: 100vh;
	font-family: koho;
}

.header,
.footer {
	z-index: 2;
	position: fixed;
	background-color: $header-color;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: calc(10px + 2vmin);
	color: white;
	width: 100%;
	box-sizing: border-box;
	padding: 0 12px;
}

.header {
	height: $header-height;
	top: 0;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);

	.site-name {
		font-size: 2rem;
		font-weight: 500;
		color: #f9bfd3;
		cursor: pointer;
	}

	.custom-url {
		width: 320px;
		background: transparent;
		border: none;
		font-size: 1em;
		color: whitesmoke;
		font-family: cascadia code;
		border-bottom: #717273 2px solid;
		outline: none;
		transition: 0.1s all ease-in;

		&.active,
		&:focus {
			border-bottom: whitesmoke 2px solid;
			transition: 0.1s all ease-in;
		}
		&.error {
			border-bottom: rgba(253, 0, 0, 0.96) 2px solid;
		}
	}

	.btn-wrapper {
		display: inline-flex;
		align-items: center;

		.btn {
			width: 2.6rem;
			font-size: 1.6rem;
			cursor: pointer;
			color: #c8cdd1;

			&:hover {
				color: white;
			}

			&.save {
				&.failure {
					color: #f1c902;
				}
				&.success {
					color: #74e84d;
				}
			}

			&.timer {
				padding: 1.2rem 0;
			}
		}
	}

	.btn.timer:hover ~ .expiry-menu {
		display: block;
	}

	.expiry-menu {
		display: none;
		z-index: 5;
		position: fixed;
		top: 3.5rem;
		right: 0;
		box-sizing: border-box;
		margin: 4px 8px;
		padding: 4px 4px;
		background-color: $header-color;
		border-radius: 4px;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
		font-size: 1.4rem;
		text-align: center;

		&:hover {
			display: block;
		}

		span {
			text-decoration: underline;
			text-underline-offset: 3px;
			text-decoration-thickness: 1px;
		}
		ul {
			padding: 0;
			margin: 8px;
			text-align: left;

			li {
				list-style-type: none;
				text-indent: 0;
				font-size: 1.2rem;
				padding: 4px 16px;
				transition: 0.36s ease-out;
				border-radius: 4px;
				cursor: pointer;

				&:hover {
					background-color: #4b616dd8;
					transition: 0.24s ease-out;
				}
			}
		}
	}
}

.footer {
	height: $footer-height;
	bottom: 0;
	box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.16), 0 -3px 3px rgba(0, 0, 0, 0.23);
	justify-content: flex-end;

	.credits {
		font-size: 0.8rem;
		.copyleft {
			display: inline-block;
			transform: rotate(180deg);
			padding: 0 4px 2px;
		}
	}
}

.main {
	position: fixed;
	top: $header-height;
	background-color: $editor-color;
	min-width: 100%;
	min-height: $editor-height;
	font-size: calc(10px + 2vmin);
	color: white;

	.editor {
		border-style: none;
		border-color: Transparent;
		outline: none;
		resize: none;
		background: none;
		min-height: $editor-height;
		width: 100%;
		font-size: 5rem;
		color: white;
		font-family: "Courier New", Courier, monospace;
		overflow-block: scroll;
		overflow: initial !important;
	}
}
